.container {
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  grid-template-rows: repeat(7, 10vh);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "A A B B C"
    "A A B B C"
    "A A D D D"
    "E E E F F"
    "E E E F F"
    "G G H H H"
    "G G H H H";
}

.box1 {
  background-image: url(/svg_icons/reddit-5095703.svg);
  grid-area: A;
}
.box2 {
  background: cyan;
  grid-area: B;
}
.box3 {
  background: tomato;
  grid-area: C;
}
.box4 {
  background: gold;
  grid-area: D;
}
.box5 {
  background: pink;
  grid-area: E;
}
.box6 {
  background: green;
  grid-area: F;
}
.box7 {
  background: peru;
  grid-area: G;
}
.box8 {
  background: indigo;
  grid-area: H;
}
